<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="default,test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CONSOLE_REQUEST"/>
        </root>
    </springProfile>

    <springProfile name="prd">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="wedding.kanshasai.backend.configration.logback.RequestLogFilter">
            <isRequest>false</isRequest>
        </filter>
        <encoder>
            <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSS}}) %highlight(%-5level) [%thread] %cyan(%logger{15}) - %msg %yellow(%mdc{request-id}) %n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_REQUEST" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="wedding.kanshasai.backend.configration.logback.RequestLogFilter">
            <isRequest>true</isRequest>
        </filter>
        <encoder>
            <pattern>
                %clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSS}}) %highlight(%-5level) [%thread] %cyan(%logger{15}) - %msg %yellow(%mdc{request-id}) %n    %kvp%n
            </pattern>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
</configuration>
