<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wedding.kanshasai.backend.infra.mapper.SessionMapper">

    <select id="findById" resultMap="sessionWithEvent">
        SELECT
        sessions.id AS session_id,
        sessions.event_id AS session_event_id,
        sessions.name AS session_name,
        sessions.state_id AS state_id,
        sessions.cover_screen_id AS session_cover_screen_id,
        sessions.current_quiz_id AS session_current_quiz_id,
        sessions.is_deleted AS session_is_deleted,
        sessions.created_at AS session_created_at,
        sessions.updated_at AS session_updated_at,
        events.id AS event_id,
        events.name AS event_name,
        events.is_deleted AS event_is_deleted,
        events.created_at AS event_created_at,
        events.updated_at AS event_updated_at
        FROM
        sessions
        LEFT JOIN
        events ON sessions.event_id = events.id
        WHERE
        sessions.id = #{id}
        AND sessions.is_deleted = false
    </select>

    <select id="listSessions" resultSets="sessionWithEvent">
        SELECT
        sessions.id AS session_id,
        sessions.event_id AS session_event_id,
        sessions.name AS session_name,
        sessions.state_id AS state_id,
        sessions.cover_screen_id AS session_cover_screen_id,
        sessions.current_quiz_id AS session_current_quiz_id,
        sessions.is_deleted AS session_is_deleted,
        sessions.created_at AS session_created_at,
        sessions.updated_at AS session_updated_at,
        events.id AS event_id,
        events.name AS event_name,
        events.is_deleted AS event_is_deleted,
        events.created_at AS event_created_at,
        events.updated_at AS event_updated_at
        FROM
        sessions
        LEFT JOIN
        events ON sessions.event_id = events.id
        WHERE
        sessions.is_deleted = false
        OR sessions.is_deleted = #{includeDeleted}
        ORDER BY
        sessions.id
    </select>

    <insert id="createSession">
        INSERT INTO sessions(
        id,
        event_id,
        name
        )
        VALUES (
        #{id},
        #{event_id},
        #{name}
        )
    </insert>

    <update id="deleteById">
        UPDATE
        sessions
        SET
        is_deleted = true
        WHERE
        id = #{id}
        AND is_deleted = false
    </update>

    <resultMap id="session" type="wedding.kanshasai.backend.infra.dto.SessionDto">
        <id property="id" column="session_id" />
        <result property="eventId" column="session_event_id"/>
        <result property="name" column="session_name"/>
        <result property="stateId" column="session_state_id"/>
        <result property="coverScreenId" column="session_cover_screen_id"/>
        <result property="currentQuizId" column="session_current_quiz_id"/>
        <result property="isDeleted" column="session_is_deleted"/>
        <result property="createdAt" column="session_created_at"/>
        <result property="updatedAt" column="session_updated_at"/>
    </resultMap>

    <resultMap id="sessionWithEvent" type="wedding.kanshasai.backend.infra.dto.SessionDto">
        <id property="id" column="session_id" />
        <result property="eventId" column="session_event_id"/>
        <result property="name" column="session_name"/>
        <result property="sessionStateId" column="session_state_id"/>
        <result property="coverScreenId" column="session_cover_screen_id"/>
        <result property="currentQuizId" column="session_current_quiz_id"/>
        <result property="isDeleted" column="session_is_deleted"/>
        <result property="createdAt" column="session_created_at"/>
        <result property="updatedAt" column="session_updated_at"/>
        <association property="event" resultMap="wedding.kanshasai.backend.infra.mapper.EventMapper.event"/>
    </resultMap>
</mapper>
